* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #111827;
  background: #f3f4f6;
}

button {
  font-family: 'Roboto', sans-serif;
}
